<p>
The Devs Like Us community was established to provide a supportive group for developers of all kinds with a focus on diversity, minorities, and resources to increase entry, retention, and success within the technical workforce.</p>
<center>
##### Founders
</center>
###### Clarence
Twitter: [@cedmonds_2](https://twitter.com/cedmonds_2)<br/>
Hi, I’m Clarence. I am 1/3 of the wonderful Podcast, DevsLikeUs. I have been in the IT space for almost 10 years and specifically in the Dev space for almost 6 years. Since starting my Dev journey, I have specifically worked with building automation and software tools for business partners of my employers. The majority of my experience in software development has been in Python. I have been working diligently over the years becoming more proficient in the language as well as learning as much as I can about the language to reach expert status. When I’m not hammering away code on my keyboard, I enjoy all things DIY. Recently I have picked up the hobby of woodworking, with thoughts of building everything I need at home. I also enjoy all things outdoors, as it to me connects me to the real beautiful world we live in.
<br/>
<br/>
###### Jasmine
Twitter: [@JasBCoding](https://twitter.com/JasBCoding)<br/>
Hi, I’m JB and I recently took on the role of Principal Researcher for an R&D company. I previously held the role of a Software Developer for 7 years as a DoD employee. I hold both a Bachelor's and Master's degree in Computer Science from Norfolk State University. In my free time, I enjoy being with friends and family, officiating basketball games, and collaborating with fellow developers.
<br/>
<br/>
###### Terrence
Twitter: [@tpugh_](https://twitter.com/tpugh_)<br/>
Hi, I’m Terrence and I entered the technology industry full-time as a software engineer back in 2012 and have enjoyed delivering high-quality services to end-users along with serving as a developer advocate.  I earned my bachelor’s and master’s degree in computer science from Norfolk State University and I’m also working on my doctorate at Towson University after work hours where I conduct research in applying AI and ML practices to the software engineering process. I enjoy spending time with my family, working out, and building collaborative communities to support developers. 
