<!-- menu, we did go with a static one, you can build a dynamic one, just google a little around -->
<div class="main-menu">
    <div class="content">
        <nav id="menu">
            <a class="toggle-link noline"><i class="fa fa-close fa-lg"></i></a>
            <ul>
                <li>
                    <a class="homelink" href="{{ site.baseurl | replace: '//', '/' }}/">Home</a>
                </li>
                <li>
                    <a href="{{ site.baseurl | replace: '//', '/' }}/archive">Archive</a>
                </li>
                <li>
                    <a href="#colorswitch" class="modal-trigger">SignUp <i class="fa fa-envelope"></i></a>
                </li>
		<li>
                    <a href="{{ site.baseurl | replace: '//', '/' }}/guest">Show Guest Form</a>
                </li>
            </ul>
        </nav>
        <nav class="iconnav">
            <ul>
		    <!--
                <li class="sicon">
                    <a href='#search'><i class='fa fa-search'></i></a>
                </li>
-->
                {% if site.instagram %}
                <li class="social">
                    <a href="{{ site.instagram }}" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
                {% endif %} {% if site.twitter %}
                <li class="social">
                    <a href="{{ site.twitter }}" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                {% endif %} {% if site.facebook %}
                <li class="social">
                    <a href="{{ site.facebook }}" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                {% endif %} {% if site.youtube %}
                <li class="social">
                    <a href="{{ site.youtube }}" class="youtube" target="_blank"><i class="fa fa-youtube"></i></a>
                </li>
                {% endif %} 
            </ul>
        </nav>
        <a href='#menu' class="toggle-link noline">
            <i class="fa fa-navicon"></i>
        </a>
    </div>
</div>




<div id="colorswitch" class="modal color-change">
    <div class="modal-content">
      <h4>Stay connected with us, join our newsletter!</h4>
      <p>
   
           <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
 <div>
			    <div id="mc_embed_signup">
<form action="https://devslike.us10.list-manage.com/subscribe/post?u=4590fdc039b516e071717da36&amp;id=5352821f2a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL"></label>
	<label class="sr-only" for="mce-EMAIL"></label>
	<input type="email" value="" name="EMAIL" class="form-control transparent" id="mce-EMAIL" placeholder="email address" required>
	    <br>
	    <br>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4590fdc039b516e071717da36_5352821f2a" tabindex="-1" value=""></div>
	     <input type="submit" class="btn btn-danger btn-fill" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
	    </div>												  
    </div>
</form>
</div>

<!--End mc_embed_signup-->  
          
      </p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
  </div>
